@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover
        max-width: 700px
  .card
    width: 230px
    height: 230px
  .packages 
    &-wrapper
      grid-template-rows: repeat(3, 500px)
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-weight: bold
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      height: 450px
      width: 100%

  .booking
    width: 340px
  .block-info
    flex-direction: row
  .map
    width: 340px
  .newsletter
    padding-top: 92px
    padding-bottom: 93px
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 579px
      &__text
        max-width: 455px
    &__title 
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    padding: 24px 110px 24px 26px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 85%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding: 28px 0
  .menu
    &-button
      display: flex
      flex-direction: column
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      border: none
      background-color: $light
      cursor: pointer
      &:focus
        outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 44px
    &-wrapper
      justify-content: space-between
    &-info
      margin-bottom: 15px
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
    &-name
      flex-basis: 100%
    &-slider
      height: 179px
  .stars
    flex-basis: auto
  .block-info
    flex-direction: column
    min-height: 400px
  .booking, .map
    width: 100%
  .map
    height: 170px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 46px
    &-wrapper
      min-height: 160px
      flex-direction: column
      max-width: 576px
      width: 88%
      align-items: flex-start
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &__prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -90px
        &__next
          right: 50%
          transform: translateX(50%)
          margin-right: -90px
      &__text
        max-width: 455px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-top: 40px 
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
    &-wrapper
      justify-content: center
    &__title
      margin-bottom: 36px
  .card
    width: 100%
    padding-right: 45px
    padding-bottom: 15px
  .packages
    padding-top: 30px
    padding-bottom: 60px
    &-wrapper
      grid-template-rows: repeat(5, 300px)
      grid-template-columns: 100%
      grid-column-gap: 0
    &-item
      grid-template-columns: 50% 50%
      grid-template-rows: 100%
      &__img 
        height: 100%
      &__text
        justify-content: space-between
    &__title
      font-size: 20px
      line-height: 25px
      margin-bottom: 35px
    &__old-cost
      font-size: 12px
      line-height: 15px
    &__cost
      font-size: 20px
      line-height: 25px
  .first
    grid-column: 1
    &__description
      display: none
      grid-column: 
    &__offer
      max-width: 60px
      width: 100%
      min-height: 18px
      font-style: normal
      font-weight: 600
      font-size: 8px
      line-height: 10px
      padding: 4px 9px
    &__text 
      padding-top: 30px
      padding-right: 21px
      padding-bottom: 25px
      padding-left: 32px
@media ( max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 179px
  .hotel
    &__slider
      margin-bottom: 20px
  .packages
    &__order
      flex-direction: column
      align-items: start
    &__price
      margin-bottom: 10px
  .first 
    &__person
      margin-bottom: 17px
    &__rating
      display: none
    &__title
      margin-top: 0
      margin-bottom: 20px
@media (max-width: 480px)
  .packages
    &-wrapper
      grid-template-rows: repeat(5, 200px)
    &-item
      &__person-room
        display: none
      &__text
        padding-top: 20px
        padding-right: 21px
        padding-bottom: 15px
        padding-left: 18px
